{% if site.github.is_project_page %}
<div class="git-wiki-copyrights" align="center">
    <p>This project belongs to the <a href="https://github.com/AscentElite">AscentElite Team</a> &copy; 2021</p>
    <p>Maintained by <a href="https://github.com/CosmicTraveler">CosmicTraveler</a></p>

    <p><small>Hosted on GitHub Pages &mdash; Powered by <a href="https://github.com/Drassil/git-wiki-theme">Git-Wiki v{{
        version }}</a> </p>

    {% endif %}

    {% if site.github.is_project_page %}
</div>
{% endif %}